body {
    background-color: black !important;
}
.container {
    display: grid;
    justify-content: center;
    cursor: pointer;
    align-self: center;
    margin-top: Calc(100% - 98.5%);
}

.load {
    color: white;
    font-size: 94px;
    position: relative;
    display: grid;
    justify-content: center;
    align-self: center;
    margin-top: -900px;
}
