body {
    background-color: black !important;
}
.container {
    display: grid;
    justify-content: center;
    cursor: pointer;
    align-self: center;
    border: white solid 2px;
}

.load {
    color: white;
    font-size: 94px;
    position: absolute;
    display: grid;
    justify-content: center;
    align-self: center;

}
@media only screen and (orientation:portrait) {
    body {
        height: 100vw;
        transform: rotate(90deg);
    }
}